<div class="app">
  <header class="header">
    <h1 class="logo">
      <a href="/" class="logo__link">Vocab</a>
    </h1>
  </header>
  <main class="main">
    <form action="" class="add-form">
      <div class="form-group">
        <label for="">Category</label>
        <div class="simple-form">
          <select name="" id="" class="simple-form__input">
            <option value="">Choose category</option>
          </select>
          <button class="simple-form__button" type="button">Add</button>
        </div>
      </div>
      <div class="form-group">
        <label for="">Word</label>
        <input type="text">
      </div>
      <button type="submit">Add word</button>
    </form>
    
  </main>
  <footer class="footer">
    Designed and developed by spideycode © 2018
  </footer>
</div>
<router-outlet></router-outlet>