<form action="" class="add-form">
  <div class="form-group">
    <label for="">Category</label>
    <div class="input-group">
      <select class="custom-select">
        <option disabled>Choose...</option>
        <option *ngFor="let cat of (categories$ | async)" value="{{cat.uid}}">{{cat.name}}</option>
      </select>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="showNewCat()">Add new</button>
      </div>
    </div>
    <div class="input-group mt-2" *ngIf="isNewCat">
      <input type="text" class="form-control" placeholder="New category">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="hideNewCat()"><fa-icon icon="trash"></fa-icon></button>
      </div>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="addNewCat()"><fa-icon icon="plus"></fa-icon></button>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="">Word</label>
    <input type="text" class="form-control" placeholder="New word">
  </div>
  <button class="btn btn-primary btn-block" type="submit">Add word</button>
</form>